.search{
    border-radius: 15px 15px 0px 0px;
    text-align: right;
    padding: 1% 5% 1% 5%;
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 1px 5px 5px grey;
}
body {
    margin: 0;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input {
    min-width: 25%;
}

.title{
text-align: center; }

.header-padding{
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.brand-pic{
    margin-right: 5px;
}
.adminButton{
    float: right;
    width:30px;
    height: 30px;

}
.main-header{
    width: 100%;
}
.keyInput-label{
    justify-content: left!important;
}
